.EventDetail {
    background: #fff;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 100;   
}

.EventDetail_grid {
    height: 100%;
}

.EventDetail_grid > .column {
    padding-bottom: 0 !important;
}

.EventDetail .EventDetailCloser {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;    
}

.EventDetail .EventGeneralInfo {
    background-color: #fbfbfb;
    border-right: 1px solid #eee;
}

.EventDetail .EventGeneralInfo h1 {
    padding: 10px;
    font-size: 4em;
    line-height: 1em;    
}