.EventCard.ui.card {
    border-radius: 0;
    box-shadow: none;
    height: 215px;
    margin: 0 0 10px 0;
    opacity: 0.95;
    padding-top: 15px;
    width: 100%;
    border: 1px solid transparent;
}

.EventCard.ui.card:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    cursor: pointer;
    -webkit-transition: background-color 1.7s ease-out;
    -moz-transition: background-color 1.7s ease-out;
    -o-transition: background-color 1.7s ease-out;
    transition: background-color 1.7s ease-out;
    transform: none;
}

.EventCard.ui.card>.content>.header {
    color: #fff;
    font-size: 2.6em;
    font-weight: 300;
    line-height: 1.1em;
    margin-bottom: 15px;
    width: 90%;
}

.EventCard.ui.card>.content>.description {
    font-size: 1.3em;
    letter-spacing: 1px;
    line-height: 1.5em;
    width: 80%;
}


.EventCard.ui.card>.extra {
    border-radius: 0 !important;
    color: #fff;
    font-size: 16px;
}

.EventCard.ui.card .EventCard_topics {
    display: inline-block;
}

.EventCard.ui.card .EventCard_topics .topic {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.75px;
    margin-right: 2px;
    padding: 4px 7px;
    text-transform: uppercase;
}

.EventCard.ui.card .EventCard_timeplace {
    display: inline-block;
    float: right;
}

@media only screen and (max-width: 767px) {
    .EventCard.ui.card {
        height: 250px;
    }
    .EventCard.ui.card>.content>.header {
        height: 110px;
    }
}