.EventCard.ui.card {    
    border-radius: 16px;    
    border: 1px solid #efefef;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
    -webkit-box-shadow: 0 5px 5px 0 #eaeaea;
    height: 300px;
    margin: 0 0 10px 0;
    opacity: 0.8;
    padding-top: 15px;
    width: 100%;
}

.EventCard.ui.card:hover {
    border: 1px solid #e4e4e4;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
    -webkit-box-shadow: 0 5px 5px 0 #eaeaea;
    opacity: 1;
}

.EventCard.ui.card>.content>.header {
    font-size: 2.6em;
    font-weight: 300;
    height: 185px;
    line-height: 1.1em;
    margin-bottom: 15px;
    width: 75%;
}

.EventCard.ui.card>.extra {
    font-size: 12px;
}

.EventCard.ui.card .event_topic {
    background-color: #a2a2a2;
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    letter-spacing: 0.75px;
    margin-right: 2px;
    padding: 4px 7px;
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
    .EventCard.ui.card {
        height: 220px;
    }

    .EventCard.ui.card>.content>.header {
        height: 110px;
    }
}