.App {
  width: 100%;
  background-color: #fff;
}

.App-header-wrapper {
  background-color: #fff;
  border-bottom: 1px solid #F0F0F0;
  height: 70px;
  left: 0;
  top: 0;
  width: 100%;
}

.App-header-wrapper .column {
  height: 100%;
  padding: 0 !important;
}

.App-header {
  color: #000;
  display: inline-block;
  height: 100%;
  padding: 0;
  width: 100%;
}

.App-logo {
  color: #616dbc;
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  height: 100%;
  line-height: 22px;
  padding-top: 30px;
}

.home-intro {
  padding: 50px 0 75px 0;
}

.home-intro h1 {
  color: #545454;
  font-size: 2em;
  font-weight: 200;
  text-align: center;
  width: 100%;
}

.home-search-wrapper {
  margin: 0 auto;
  width: 42em;
}

.events-wrapper {
  background: #FFF;
}

.view-more {
  padding: 80px 0;
}

.view-more .-action {
  margin: 0 auto;
  width: 25em;
}

.view-more .-action .button {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  border-radius: 32px;
  box-shadow: 0 6px 15px rgba(36,37,38,0.08);
  -webkit-box-shadow: 0 5px 5px 0 #eaeaea;  
  color: #fff;
  font-size: 1.5em;
  font-weight: 200;
  padding: 22px 20px;
  -webkit-transition: all 0.2s,  -webkit-transform 0.2s;
  transition: all 0.2s, transform 0.2s;  
}

.view-more .-action .button:hover {
  margin-top: -5px;
}