* {
  font-family: 'Muli', sans-serif !important;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Muli', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Muli', sans-serif !important;
}

.app_root {
  height: 100%;
}